bin
*.sublime-project
passwords.txt
fitnesse.sh.old
*.bak
passwordMap
*.sublime-workspace
/FitNesseRoot/FitNesse
*.zip
*.old
*.log
*.sh
FitNesseRoot/properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
